{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | About us {% endblock %}

{% block body %}
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad asperiores autem, culpa deserunt dicta
        eaque eum fugiat iusto labore laborum laudantium, minus nemo perspiciatis placeat quaerat similique vero
        voluptate.
    </p>
    <p>Accusantium ad aliquid autem, consequatur deserunt dolor dolores eius, excepturi fugiat iure
    magni modi necessitatibus non obcaecati omnis pariatur perferendis quasi, qui quis reprehenderit repudiandae sed
    soluta temporibus ullam voluptatibus.
    </p>

{% endblock %}

